<div class="card" style="width: 50%; height: 50%; margin: auto">
    <div class="p-field p-grid">
        <label for="usuario" class="p-col-fixed" style="width:100px;">Usuário</label>
        <div class="p-col">
            <input [(ngModel)]="usuario.usuario" id="usuario" type="text" pInputText> 
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
        <div class="p-col">
            <input [(ngModel)]="usuario.senha" id="senha" type="password" pInputText> 
        </div>
    </div>
    <p-button label="Login" (click)="fazerLogin()"></p-button>
</div>