<div class="margin-20">

    <div>
        <h1 class="text-center">Listar Dívidas de Clientes</h1>
    </div>

    <div class="p-grid">
        <button class="p-col-12 p-lg-6 p-button-success" pButton label="Cadastrar" icon="pi pi-plus"
            [routerLink]="['/divida-cliente', 'cadastrar']">
        </button>
    </div>

    <div class="card margin-y-10">
        <p-table #dt [value]="dividas" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nomeCliente">Nome <p-sortIcon field="nomeCliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="total">Total (R$) <p-sortIcon field="total"></p-sortIcon>
                    </th>
                    <th>Ações</th>
                </tr>
                <tr>
                    <th>
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, 'nomeCliente', 'contains')"
                            placeholder="Buscar por nome" class="p-column-filter">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-divida>
                <tr>
                    <td>{{divida.nomeCliente}}</td>
                    <td>{{divida.total | currency}}</td>
                    <td>
                        <i class="pi pi-check-circle margin-right-5 click color-green"
                            (click)="quitarDivida(divida)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>

<p-dialog header="Quitar Dívida" [(visible)]="displayModal" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="closeDialog()" >

    <div>
        <div>
            {{dividaSelecionada.nomeCliente}}
        </div>

        <div>
            Dívida Total: <b>{{dividaSelecionada.total | currency}}</b>
        </div>

        <h4>Deseja quitar parte do valor?</h4>
        <div class="p-field-radiobutton">
            <p-radioButton name="quitarParte" [value]="false" [(ngModel)]="quitarParte" inputId="nao"></p-radioButton>
            <label for="nao">Não</label>

            <p-radioButton name="quitarParte" [value]="true" [(ngModel)]="quitarParte" inputId="sim" class="margin-left-15"></p-radioButton>
            <label for="sim">Sim</label>
        </div>

        <div *ngIf="quitarParte">
            <label for="valorQuitado">Valor quitado</label>
            <input type="text" currencyMask pInputText [(ngModel)]="parteQuitada"
                      name="valorQuitado" maxlength="19" />
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="closeDialog()" label="Cancelar"
            styleClass="p-button-text p-button-danger"></p-button>
        <p-button icon="pi pi-check" (click)="confirmarPagamento()" label="Confirmar" [disabled]="disableBtnQuitar()"
            styleClass="p-button-text p-button-success"></p-button>
    </ng-template>
</p-dialog>