<div class="margin-20">

    <div>
        <h1 *ngIf="acao == 'visualizar'">Visualizar Usuário</h1>
        <h1 *ngIf="acao == 'editar'">Editar Usuário</h1>
        <h1 *ngIf="acao == 'cadastrar'">Cadastrar Usuário</h1>

    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <label for="nome">Nome</label>
            <input id="nome" type="text" pInputText> 
        </div>
        <div class="p-field p-col-6">
            <label for="login">Login</label>
            <input id="login" type="text" pInputText> 
        </div>
        <div class="p-field p-col-6">
            <label for="senha">Senha</label>
            <input id="senha" type="password" pInputText> 
        </div>

        <div class="p-col-6 p-lg-3">
            <button pButton label="Voltar" class="ui-button p-button-secondary" icon="pi pi-chevron-left" routerLink="/usuario">
            </button>

        </div>
        <div class="p-col-6 p-lg-3">
            <button pButton label="Salvar" class="ui-button p-button-success" icon="pi pi-save">
            </button>

        </div>
    </div>
</div>